{% extends 'NIOKR/base.html' %}
{% block content %}
    {% if user.is_authenticated %}
    <p>{{warning}}</p>
    {% for product_in_order in products_in_order%}
    <div class="products">
        <p>{{product_in_order.product}}</p>
        <img src="{{product_in_order.product.icon.url}}">
    </div>
    {% endfor %}
    <form action="http://127.0.0.1:8000/basket/", method="POST">
    <div class='buy_button'>
        {% csrf_token %}
        <input type="submit" value="Купить">
    </div>
    </form>
    {% else %}
    Для того, чтобы использовать корзину, зарегистрируйтесь или войдите в существующий аккаунт.
    {% endif %}
    

{% endblock %}